body {
  padding: 30px;
}

.slidercontainer {
  float: left;
  display: inline-block;
  width: 60px;
  height: 300px;
  margin-bottom:100px;
}

.rangeslider {
  display: inline-block;
  height: 100%;
}

.output {
  display: inline-block;
  font-size: 1.8em;
  margin-left: -7px;
}

.label {
  display: inline-block;
  font-size: 1.8em;
}

#console{
  clear:left;
  border:1px solid;
  overflow: auto;
  height:100px;
  width:100%;
}

#info{
  clear:left;
  margin-top: 10px;
}